<div class="bs-docs-section">

  
              
  <div class="bs-example table-responsive">
    <table class="table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th>User</th>
                <th>Gender</th>
                <th>City</th>
                <th>Products</th>

                
            </tr>
        </thead>


        <tbody>

          <% @users.each do |u| %>
            <tr>              
              
              <td><h4><%= link_to u.username, users_profile_path(id: u.id)  %><h4></td>
              <td><%= u.gender %></td>
              <td><%= u.city %></td>
              <td><%= link_to pluralize(u.products.count, "Product"),  users_profile_path(id: u.id)  %></td>
              
             <% end %>
        </tbody>
    </table>
  </div>
</div>
  




