body {
padding-top: 70px;
padding-bottom: 10px;
height: 100%;

}

th {
  background-color:   #20B2AA;
  font-weight:bold;
  font-size:120%;
}

h1 {
   vertical-align: middle;
   text-align: center;
   }

.lead {
  text-align: center;
}


footer{
	margin-top: 50px;	
	bottom: 0;
	position: relative;
  	
}


#f_id{
	horizontal-align: middle;
   	text-align: center;
}


.table > tbody > tr > td{ 
    vertical-align: middle;
}

/*CSS zum vergrößern vom Thumb*/

a.menue, a.menue:link, a.menue:visited, a.menue:active {
position: relative;
text-decoration: none;
}

a.menue:hover {
z-index:1000;
background: transparent;
}

a.menue span {
display: none;
text-decoration: none;
}

a.menue:hover span {
z-index:1;
display: block;
position: absolute;
bottom: 0px;
left: 0px;
padding: 0px;
}

