body {
padding-top: 70px;
padding-bottom: 50px;

}

th {
  background-color:   #20B2AA;
  font-weight:bold;
  font-size:120%;
}

h1 {
   vertical-align: middle;
   text-align: center;
   }

.lead {
  text-align: center;
}


.table > tbody > tr > td  { 
    vertical-align: middle;
}