body {
  padding-top: 60px;
}
th {
  background-color:   #20B2AA;
  font-weight:bold;
  font-size:120%;
}

h1 {
   vertical-align: middle;
   text-align: center;
   }

.lead {
  text-align: center;
}

body {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

}



