<div class="bs-docs-section">
              
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="about">
                    About Share Flair<br> 
                    <small>The Idea</small>
                </h1>
            </div>

		     <div>
		     	<p>Unter dem Motto „Shareconomy“ blickt die Cebit auf Tauschgeschäfte über das Internet. Der Trend zum gemeinsamen Konsum erfasst inzwischen auch Unternehmen.</p>

		     	<h3>Teile und spare</h3>

		     	<p>Über den Anfang machten sich viele lustig. „Zylinder auf Rädern“ oder „Fliegender Badebottich“ nannten die Amsterdamer das Autoteilprojekt Witkar, das der Ingenieur Luud Schimmelpennink erfunden hatte. Vor fast 39 Jahren rief Schimmelpennink mit Witkar in den Niederlanden eines der ersten Carsharing-Systeme der Welt ins Leben. Es lief 14 Jahre und zu Hochzeiten teilten sich rund 5000 Menschen die klobigen Fahrzeuge. Heute erreicht das Teilen über das Internet andere Größenordnungen.</p>

		     	<p>Einer repräsentativen Umfrage des Branchenverbands Bitkom zufolge ist Teilen vor allem unter Jüngeren beliebt. So sehen 97 Prozent der 14 bis 29 Jahre alten Deutschen es als selbstverständlich an, das Netz zu nutzen, um Wissen, Ressourcen oder Erfahrungen zu tauschen. Inzwischen gibt es Tauschplattformen für alles: Auf Seiten wie Unseraller.de können Menschen ihre Erfahrungen einbringen, um neue Produkte mitzugestalten. Unter Kleiderkreisel.de tauschen Menschen Pumps, Pullover und Paillettenroben. Und auf Frents.de leihen sich Mitglieder untereinander ihre Bohrmaschinen.</p>

		     	<p>Kürzlich hat der amerikanische Unterkunftvermittler Airbnb verkündet, dass über ihn im vergangenen Jahr rund um die Welt drei Millionen Menschen online eine temporäre Bleibe gefunden haben. Und in deutsche Carsharing-Autos sind 2012 mehr als 450000 Fahrer eingestiegen. Grund genug für die Cebit, in diesem Jahr unter dem Schlagwort „Shareconomy“ das Tauschen im Netz in den Mittelpunkt der Messe zu stellen.</p>

		     	<a href="http://www.faz.net/aktuell/technik-motor/cebit/cebit-motto-shareconomy-teile-und-spare-12101159.html"> Quelle FAZ</a>
		     	
		     </div>

		</div>
	</div>

</div>